@import url("https://fonts.googleapis.com/css?family=Roboto:300");
* {
    margin: 0;
    padding: 0;
}
body {
    background: #4400c4;
    background: -webkit-linear-gradient(
        to left top,
        #b50000,
        #be002a,
        #be004c,
        #b4006d,
        #9f008b,
        #8f0099,
        #7500a8,
        #4b04b9,
        #4007b9,
        #330bb8,
        #220eb8,
        #0010b7
    );
    background: -moz-linear-gradient(
        to left top,
        #b50000,
        #be002a,
        #be004c,
        #b4006d,
        #9f008b,
        #8f0099,
        #7500a8,
        #4b04b9,
        #4007b9,
        #330bb8,
        #220eb8,
        #0010b7
    );
    background: -o-linear-gradient(
        to left top,
        #b50000,
        #be002a,
        #be004c,
        #b4006d,
        #9f008b,
        #8f0099,
        #7500a8,
        #4b04b9,
        #4007b9,
        #330bb8,
        #220eb8,
        #0010b7
    );
    background-image: linear-gradient(
        to left top,
        #b50000,
        #be002a,
        #be004c,
        #b4006d,
        #9f008b,
        #8f0099,
        #7500a8,
        #4b04b9,
        #4007b9,
        #330bb8,
        #220eb8,
        #0010b7
    );
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    height: 100vh;
    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }
    .form {
        position: relative;
        z-index: 1;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #ffffff;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
        button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4caf50;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #ffffff;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
            &:hover {
                background: #43a047;
            }
            &:active {
                background: #43a047;
            }
            &:focus {
                background: #43a047;
            }
        }
        .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
            a {
                color: #4caf50;
                text-decoration: none;
            }
        }
        .register-form {
            display: none;
        }
    }
    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
        &:before {
            content: "";
            display: block;
            clear: both;
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        .info {
            margin: 50px auto;
            text-align: center;
            h1 {
                margin: 0 0 15px;
                padding: 0;
                font-size: 36px;
                font-weight: 300;
                color: #1a1a1a;
            }
            span {
                color: #a33b3b;
                font-size: 12px;
                a {
                    color: #000000;
                    text-decoration: none;
                }
                .fa {
                    color: #ef3b3a;
                }
            }
        }
    }
}
